@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --font-roboto: "Roboto Slab", serif;
    --font-raleway: "Raleway", sans-serif;
}

body {
    font-family: var(--font-roboto);
   background-color: #8ed0f9;

}

.app {
    background: #c0daea;
    padding: 4rem;
    
    margin-left: 248px;
    height: 360px;
    margin-top: 34px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {    margin-top: -101px;
    font-size: 3rem;
    letter-spacing: 15.9px;
    color: black;
}
input[type="date"]{
    background: #F4F9FF;
    border: 2px solid #DEDEDE;
    padding: 20px;
    font-family: "Roboto Mono",monospace;
    color: #000000;
    font-size: 18px;
    width: 230px;
    /* border: none; */
    outline: none;
    border-radius: 5px;
}
::-webkit-calendar-picker-indicator{
    /* background-color: #ffffff; */
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}
.button-65 {
    appearance: none;
    backface-visibility: hidden;
    background-color: #2f80ed;
    border-radius: 44px;
    border-style: none;
    margin-top: 17px;
    box-shadow: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 500;
    height: 86px;
    letter-spacing: normal;
    line-height: -31.5;
    outline: none;
    overflow: hidden;
    padding: 24px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
    cursor: pointer;
  }
   
  .button-65:hover {
    background-color: #1366d6;
    box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
  }
   
  .button-65:hover:after {
    opacity: .5;
  }
   
  .button-65:active {
    box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
    transform: translateY(2px);
    transition-duration: .35s;
  }
   
  .button-65:active:after {
    opacity: 1;
  }
   
  @media (max-width: 408px) {
    .button-65 {
      padding: 19px 22px;
      width: 176px;
    }

  .app {
    background: #c0daea;
    padding: 4rem;
    margin-left: 32px;
    height: 399px;
    margin-top: 177px;
    width: 329px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
span{
    margin-top: 58px;
}

h2{
    margin-top: 12px;
}
h4{
    margin-top: 30px;
}

.date{
    margin-top: 23px;
}
  }